body
{
	background-image: url(../img/pexels-photo.jpg);
	background-size: cover no-repeat;
	background-color: #C86DD7;
}

@media screen and (min-width: 0px) and (max-width: 299px)
{
	.introduction
	{
		top: 50%;
		font-family: monospace;
		font-size: 20px;
		text-align: center;
		color: #FFFFFF;
		/*color: #2998E4;*/
		text-rendering: optimizeLegibility;
	}

	.introduction p span
	{
		text-shadow: 0px 2px 2px 0px rgba(0,0,0,0.5);
	}
}

@media screen and (min-width: 300px) and (max-width: 374px)
{
	.introduction
	{
		top: 50%;
		font-family: monospace;
		font-size: 40px;
		text-align: center;
		color: #FFFFFF;
		/*color: #2998E4;*/
		text-rendering: optimizeLegibility;
	}

	.introduction p span
	{
		text-shadow: 0px 2px 2px 0px rgba(0,0,0,0.5);
	}
}

@media screen and (min-width: 375px) and (max-width: 959px)
{
	.introduction
	{
		font-family: monospace;
		font-size: 40px;
		text-align: center;
		color: #FFFFFF;
		/*color: #2998E4;*/
		text-rendering: optimizeLegibility;
	}

	.introduction p span
	{
		text-shadow: 0px 2px 2px 0px rgba(0,0,0,0.5);
	}
}

@media screen and (min-width: 960px) and (max-width: 2000px)
{
	.introduction
	{
		font-family: monospace;
		font-size: 60px;
		text-align: center;
		color: #FFFFFF;
		/*color: #2998E4;*/
		text-rendering: optimizeLegibility;
	}

	.introduction p span
	{
		text-shadow: 0px 2px 2px 0px rgba(0,0,0,0.5);
	}
}

.container
{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px)
{
  .container
  {
    width: 750px;
  }
}

@media (min-width: 992px)
{
  .container
  {
    width: 970px;
  }
}

@media (min-width: 1200px)
{
  .container
  {
    width: 1170px;
  }
}

.left-nav a img
{
	transition: all 0.3s ease-in;
}

.left-nav a img:hover
{
	transform: scale(1.05);
	transition: all 0.3s ease-in;
}

.footer
{
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	float: center;
	text-align: center;
	padding: 10px;
}

.social-buttons div span
{
	display: inline;
	list-style-type: none;
}

.social-buttons div span a img
{
	width: 30px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	transition: all 0.3s ease-in;
}

.social-buttons div span a img:hover
{
	margin-bottom: 5px;
}































